<%- include('partials/header') %>


<div class="wrapper shadow p-5 text-center border rounded-3">
  <a href="/"><i class="fas fa-user-secret fa-6x logo"></i></a>
  <h1 class="display-3">Secrets</h1>
  <p class="lead">Don't keep your secrets, share them anonymously!</p>
  <hr>
  <div class="d-inline-flex gap-3 justify-content-center">
    <a class="btn btn-light btn-lg shadow-sm" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg shadow-sm" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
